.panel-group {
margin: 10px 0px;
}
.panel-custom {
	border-color: transparent;
	border-radius: 0px !important;
	box-shadow: none;
	
}
.panel-collapse {
	border: none;
}
.list-group {
	border:none !important;
}
.list-item {
	border: none;
    padding: 10px 40px;
}
.list-item:before {
content: "";
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-top: -2px;
    margin-right: 10px;
    color: #CCCCCC;
}
.list-item {
	background-color: #DDD;
}
.panel-heading > a:focus, .list-item > a:focus {
	text-decoration:none;
}