ErrorDocument 404 /en/404.php
RewriteEngine On
RewriteBase /testsite/   

# empty url -> redirect to en/
RewriteCond %{QUERY_STRING} !lang=(en|fr)
RewriteRule ^$ en/ [R=301,L]

# url is ONLY '/en' or '/de' -> redirect to /en/ or /de/ (adding slash)
RewriteRule ^(en|fr)$  $1/ [R=301,L]

# now all urls have en/ de/ -> parse them
RewriteRule ^(en|fr)/(.*)$  $2?lang=$1&%{query_STRING} [L]